<?xml version="1.0" encoding="utf-8"?>
<pretext
    lang="pt"
    dir="/home/jordanmalheiros/TCC_Atualizado/Dados_txt/Sao_Paulo/ProjetoLeiSP_txt"
    log="pretext.log"
    silence="off">

    <maid>
        <number/>
        <html/>
        <simbols/>
        <stoplist dir="stoplist">
            <stopfile>port.xml</stopfile>
        </stoplist>
        <stemming dir="steminfo"/>
    </maid>

    <ngram dir="ngraminfo">
        <gram n="1"/>
        <gram n="2"/>
    </ngram>

    <report
        ngramdir="ngraminfo"
        discover="discover"
        graphics="graphics"
        taxonomy="taxonomia.txt"
        transpose="disabled">

        <gram n="1"
            max="650"
            min="150"
            measure="tfidf"
            smooth="disabled"/>

        <gram n="2"
            max="250"
            min="50"
            measure="tfidf"
            smooth="disabled"/>
       
    </report>
</pretext>
