<?xml version="1.0" encoding="utf-8"?>
<pretext
    lang="pt"
    dir="/home/jordanmalheiros/TCC_Atualizado/Dados_txt/Campo_Grande/ProjetosCGtxt"
    log="pretext.log"
    silence="off">

    <maid>
        <number/>
        <html/>
        <simbols/>
        <stoplist dir="stoplist">
            <stopfile>port.xml</stopfile>
        </stoplist>
        <stemming dir="steminfo"/>
    </maid>

    <ngram dir="ngraminfo">
        <gram n="1"/>
        <gram n="2"/>
    </ngram>

    <report
        ngramdir="ngraminfo"
        discover="discover"
        graphics="graphics"
        taxonomy="taxonomia.txt"
        transpose="disabled">

        <gram n="1"
            max="550"
            min="100"
            measure="tfidf"
            smooth="disabled"/>

        <gram n="2"
            max="310"
            min="60"
            measure="tfidf"
            smooth="disabled"/>
       
    </report>
</pretext>
